:root{
    --background-primary: #0B0911;
    --background-secondary: #130F1E;
    --background-table-header: #1C162C;
    --text-color-primary: #FFF;

}

body{
    height: 100vh;
    background-color: var(--background-primary);
    color: var(--text-color-primary);
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
h1{
    color: var(--text-color-primary);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    margin: 1% 0;
}
h2{
    color: var(--text-color-primary);
    font-family: Roboto;
    font-size: 19.206px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1% 0;

}
.left{
    flex: 1;
    margin: 2% 1%;
    
}
.text{
    display: flex;
    flex-direction: column;
    /* padding: 5% 0; */
    margin: 1% 0;
}

.table{
    display: flex;
    flex-direction: column;
}

.th{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 64px; */
    /* padding: 14px 0; */
    align-items: center;
    border: solid red;
    /* gap: 5%; */
    align-self: flex-end;
}

.txt-top{
    color: var(--text-color-primary);
    /* margin: 1% 15%; */
    border: solid wheat;
}

.tb{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.col-left{
    background-color: var(--background-secondary);
    border: solid forestgreen;
    flex-grow: 1;
}

.col-rigth{
    display: flex;
    flex-direction: column;
    border: solid orange;
    flex-grow: 1;


}

.row{
    display: flex;
    flex-direction: row;
    margin: 1% 0;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    

}
button{
    display: flex;
    padding: 12px 24px;
    margin: 1% 3%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background: #8257E5;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    text-transform: uppercase;
}






.txt-left{

}

.rigth{
    /* flex: 35%; */
    background-color: var(--background-secondary);
    

}


section.rigth button:nth-child(2) {
    color: var(--text-color-primary); 
  }
  
  /* Estilo para o segundo botão */
  section.rigth button:nth-child(3) {
    color: var(--text-color-primary); 
    background-color: #3C3748; 

  }
  
  /* Estilo para o terceiro botão (com o SVG) */
  section.rigth button:nth-child(4) {
    background-color: var(--background-secondary); 

    color: var(--text-color-primary); 
  }
  
.menu-text{

}